#entorno virtual
doas_ia_fit/
__pycache__/
*.pyc/
# Datos pesados y datasets
src/model/data_processing/archivo.csv
data/results/
*.csv
*.txt

# Python y entorno
__pycache__/
*.py[cod]
venv/
.env
.ipynb_checkpoints/
